<p class="text-xl">Edit Grade Level</p>

<form
  [formGroup]="editLevelForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-2"
>
  <label class="flex flex-col items-start">
    Level Name
    <input
      type="text"
      formControlName="name"
      placeholder="e.g. Grade 1"
      class="rounded-md border-1 border-black p-2 placeholder-black/50"
    />
  </label>
  <label class="flex flex-col items-start">
    Description
    <input
      type="text"
      formControlName="description"
      placeholder="e.g. Some description"
      class="rounded-md border-1 border-black p-2 placeholder-black/50"
    />
  </label>
  <label class="flex flex-col items-start">
    Level Order
    <input
      type="number"
      formControlName="level_order"
      placeholder="e.g. 1"
      class="rounded-md border-1 border-black p-2 placeholder-black/50"
    />
  </label>
  <button
    [disabled]="loading()"
    type="submit"
    class="bg-primary cursor-pointer self-start rounded-md p-2 px-4 text-white"
  >
    Update
  </button>
  @if (loading()) {
    <p>Loading...</p>
  }
</form>
